:root{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
}

#backcover{
    width: 100%;
}

#backcover img{
    width: 100%;
    height: auto;
}

.header{
    position: absolute;
    z-index: 1;
}
#backcover p{
    
    font-size: 3rem;
    color: white;
    left: 30%;

}
#backcover input{
    left: 30%;
    top: 15%;
    width: 37%;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    border: 0;

}

#backcover button{
    z-index:2rem ;
    height: 2.6rem;
    width: 2.5rem ;
    top: 15%;
    left: 66%;
    background-color:blue ;
    color: white;
    border: none;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    cursor: pointer;

}
#tasks{
    position:absolute ;
    z-index: 1;
    top: 28%;
    left:30% ;
    width: 38%;
    min-height:50vh ;
    background-color: white;
    box-shadow:0px 0px 20px 0px rgba(128, 128, 128, 0.679)  ;
    border-radius: 0.5rem ;

}
#tasks ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    border-radius: inherit;
}

#tasks ul li{
    padding: 0.9rem 1.1rem 0.9rem 1.1rem;
    cursor: pointer;
}
#tasks ul li:hover{
    background-color: rgba(218, 218, 218);
    border-radius: inherit;
}
#tasks i{
    color: grey;
}